<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script src="/javascripts/mutation.js"></script>
</head>
<body>
    <ol contenteditable oninput="whyYouAreHere();">
      <li>Press enter</li>
    </ol>
</body>
</html>