<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" charset="utf-8" />
    <!--script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script-->
    <script src="/javascripts/autobahn.js"></script>
    <script src="/javascripts/subscription.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <h1>AutobahnJS WAMP Client</h1>
    <button onclick="publishEvent();">Publish Event</button>
    <button onclick="subscibeEvent();">Subscribe Event</button>
  </body>
</html>
